teammenu {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    transition: all 0.1s ease-out;
    font-family: poppins;
    opacity: 0;
    z-index: 99;

    .wardenPanel {
        cursor: pointer;
        flex-direction: row;
        position: absolute;
        top: 900px;
        left: 400px;
        width: 600px;
        height: 50px;
        opacity: 0.0;
        background-color: black;

        .textA {
            font-size: 35px;
            height: 100%;
            width: 79%;
            color: white;
        }

        .textB {
            font-size: 35px;
            height: 100%;
            width: 19%;
            color: white;
        }

        &.visible {
            opacity: 0.9;
        }
    }

    .body {
        width: 80%;
        height: 60%;
        flex-direction: row;
        transition: all 0.3s ease-in;
        border-radius: 10px;
        background-color: rgb(0 0 0 / 0.95);
        border-radius: 20px 0px 0px 20px;

        .policeBody {
            cursor: pointer;
            height: 100%;
            width: 50%;
            background-color: rgba( #111, 0.7 );
            border-radius: 20px 20px 20px 20px;
            background-image: url('https://i.redd.it/144nac4n8ek51.jpg');
            background-size: cover;
            transition: transform 0.10s ease;

            &:hover {
                transform: scale(0.95);
            }

            .policeText {
                pointer-events: none;
                opacity: 0.75;
                color: white;
                top: 90%;
                text-align: center;
                height: 40px;
                font-size: 40px;
                font-weight: bolder;
                width: 100%;
            }
        }

        .prisonerBody {
            height: 100%;
            width: 50%;
            cursor: pointer;
            background-color: rgba( #111, 0.7 );
            border-radius: 20px 20px 20px 20px;
            background-image: url('https://cdn5.vectorstock.com/i/1000x1000/01/59/prisoner-vector-540159.jpg');
            transition: transform 0.10s ease;

            &:hover {
                transform: scale(0.95);
            }

            .prisonerText {
                opacity: 0.75;
                color: black;
                top: 90%;
                text-align: center;
                height: 40px;
                font-size: 40px;
                font-weight: bolder;
                width: 100%;
            }
        }
    }
}


.teammenuopen teammenu {
    transition: all 0.2s ease-out;
    pointer-events: all;
    opacity: 1;
    transform: scale( 1 );

    .left, .right {
        left: 0;
        transition: all 0.1s ease-out;
    }
}
